.event-card {
  background-color: #1a1a1a;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  h2 {
    font-size: large;
    font-weight: bold;
    color: #507ad1;
  }
  margin: 0.8em 0.5em;
}
